---
layout: base
---

<div class="wrapper">
  <header>
    {% if site.compass.logo %}
    <div class="logo-container">
      <span
        class="logo"
        style="background-image: url('{{ site.baseurl }}{{ site.compass.logo }}')"
      ></span>
    </div>
    {% endif %} {% if site.compass.author %}
    <div class="author-container"><h1>{{ site.compass.author }}</h1></div>
    {% endif %} {% if site.compass.tagline %}
    <div class="tagline-container"><p>{{ site.compass.tagline }}</p></div>
    {% endif %}

    <div class="link-list">
      <a href="https://github.com/guor8lei" target="_">GitHub</a> ·
      <a href="https://www.linkedin.com/in/guor8lei/" target="_">LinkedIn</a> ·
      <a href="mailto:guor8lei@gmail.com" target="_">Contact</a>
    </div>
  </header>
  <main>
    {% if site.compass.include_content %}
    <div class="content">{% include content.html %}</div>
    {% endif %}
  </main>
</div>
