<h2>Hey there!</h2>
<p class="main-content">
  I'm a software engineer at
  <a href="https://databricks.com/" target="_">Databricks</a>, based in San
  Francisco. Previously, I worked at
  <a href="https://about.google/" target="_">Google</a> and
  <a href="https://lucid.co/" target="_">Lucid Software</a>. I graduated from
  <a href="https://berkeley.edu/" target="_">UC Berkeley</a> in 2020 with a BS
  in Electrical Engineering and Computer Sciences and a minor in Bioengineering.
</p>

<p class="main-content">
  You can reach me at
  <a href="mailto:guor8lei@gmail.com" target="_">guor8lei@gmail.com</a>.
</p>
